<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/application.css">
  <title>My Sinatra Application</title>
</head>
<body>
  <div class="container">
    <%= yield %>

    <footer id="footer">
      <p>Posted by: Michelle Golle</p>
      <p><a href="https://github.com/MichelleGolle" target="_blank">
      Github</a></p>
    </footer>

  </div>
</body>
</html>
